---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: '2022 – Actualidad',
    title: 'Ingeniería Informática (último año)',
    description: 'Cursando el último año del grado en Ingeniería Informática.'
  },
  {
    date: '2020 – 2022',
    title: 'FP Grado Superior en Desarrollo de Aplicaciones Multiplataforma',
    description: 'Formación profesional de grado superior en DAM. Matrícula de honor.'
  },
  {
    date: '2018 – 2020',
    title: 'FP Grado Medio en Sistemas Microinformáticos y Redes',
    description: 'Formación profesional de grado medio en SMR. Matrícula de honor.'
  }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">               
    {EXPERIENCE.map((item) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...item} />
        </li>
    ))}
</ol>

