---
import ProjectsItem from "./ProjectsItem.astro";
import type { Props as ProjectItemProps } from "./ProjectsItem.astro";
import proyecto1 from '../assets/projects/proyecto1.webp';
import proyecto2 from '../assets/projects/proyecto2.webp';
import proyecto3 from '../assets/projects/proyecto3.webp';
import proyecto4 from '../assets/projects/proyecto4.webp';

const PROJECTS: ProjectItemProps[] = [
  {
    title: "2ISI",
    description:
      `Proyecto del laboratorio de Integración de Sistemas Informáticos: Dashboard para Discord que recopila datos de tus servidores mediante un Bot y son procesados con el servicio Azure de NLP. Este proyecto fue bastante libre en cuanto a la elección de tecnologías y tematica.`,
    image: proyecto1,
    tags: ["Flask", "Angular", "Azure", "Docker", "gRPC", "Microservicios", "OAuth"],
    github: "https://github.com/Javit-Dev/isi-2isi",
  },
  {
    title: "RemoteTypes",
    description:
      `Proyecto del laboratorio de Sistemas Distribuidos: Servicio de almacenamiento distribuido de listas, conjuntos y diccionarios remotos en Python usando ZeroC Ice, integrado con Apache Kafka para procesar operaciones vía eventos JSON. Incluye persistencia configurable, cliente tolerante a duplicados mediante consumer groups y batería de tests unitarios y análisis estático ejecutados en GitHub Actions.`,
    image: proyecto4,
    tags: ["Python", "ZeroC Ice", "Apache Kafka", "GitHub Actions"],
    github: "https://github.com/Javit-Dev/remote-types-Distribuidos-2024",
  },
  {
    title: "IPOkemon",
    description:
      `Proyecto del laboratorio de IPO 2: Aplicación de escritorio creada en .NET y C# que permite simular batallas entre Pokémon.`,
    image: proyecto2,
    tags: [".NET", "C#", "WPF"],
    github: "https://github.com/Javit-Dev/IPOkemon",
  },
  {
    title: "Proyecto (FP Superior) - Moscosos",
    description:
      `Aplicación web para el IES Maestre de Calatrava que permite gestionar los días de libre disposición de unos 100 profesores y que estuvo en uso durante varios años.`,
    image: proyecto3,
    tags: ["Angular", "MySQL", "PHP"],
    link: "https://iesmaestredecalatrava.es/moscosos/"
  },

];
---

<ol class="space-y-12">
{PROJECTS.map((project) => (
    <li>
    <ProjectsItem {...project} />
    </li>
))}
</ol>
