---
import ProjectsItem from "./ProjectsItem.astro";

const PROJECTS = [
  {
    title: "2ISI",
    description:
      "Dashboard estadístico para recoger y visualizar datos sobre tus grupos de discord de forma sencilla y atractiva. Utiliza un Bot para recopilar datos y mostrarlos en gráficos interactivos.",
    image: "/projects/proyecto1.webp",
    tags: ["Flask", "Angular", "Azure", "Docker", "gRPC"],
    github: "https://github.com/Javit-Dev/isi-2isi",
  },
  {
    title: "IPOkemon",
    description:
      "Aplicación de escritorio para la asignatura de IPO 2, permite interactuar y realizar batallas con Pokemon realizados en Blend.",
    image: "/projects/proyecto1.webp",
    tags: [".NET", "C#", "WPF"],
    github: "https://github.com/Javit-Dev/IPOkemon",
  },
  {
      title: "Remote-Types",
      description:
      "Aplicación realizada para la asignatura de Sistemas Distribuidos, el cual permite tener un sistema de tipos remotos realizado en Python con ZeroC Ice. Además cuenta con un cliente con Apache Kafka.",
      image: "/projects/proyecto1.webp",
      tags: ["Python", "ZeroCIce", "Apache Kafka"],
      github: "https://github.com/Javit-Dev/remote-types-Distribuidos-2024"
  },
];
---

<ol class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
{PROJECTS.map((project) => (
    <li class="flex justify-center">
    <ProjectsItem {...project} />
    </li>
))}
</ol>
